@charset "utf-8";
/* Started off with the char set */
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 2
   
   Bike the Mountains Tour Style Sheet
   Author: Victor Akanbi
   Date:   9.7.18
   
   Filename: mw_styles.css

*/
/* Structural Styles */
/* I did all the structural stuff here so that the instructions would be met but in doing so it also helps me organize. I started with the html adding a background color for thee whole website. Then i n the body i added another background color and changed the font family. Inside the body footer i changed the background cooler and added padding to give it more visual apeal and spacing. IN the adress i chnaged the font size aligned the text to the center an added padding to the top and bottom. */
html {
    background-color: rgb(173, 189, 227);
}

body {
    background-color: rgb(227, 210, 173);
    font-family: 'Century Gothic', sans-serif;
}

body footer {
    background-color: rgb(208, 184, 109);
    padding-top: 5px;
    padding-bottom: 5px;
}

address {
    font-size: 0.9em;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Heading Styles */
/* The h1 and h2 were just changed to make the font look normal. */
h1,
h2 {
    font-weight: normal;
}

/* Navigation Styles */
/* I took away the bullet points with the list-style-type rule and i changed the line height and font size. The nav was given a uniform look when it is just there and when it has already been looked at to keep it consistant and i chnaged the font size. The it was also edited to be more interactive so when it is hovered over it looks diffrent and so does the active look. */
nav>ul {
    list-style-type: none;
    line-height: 2em;
    font-size: 0.9em;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: rgb(43, 59, 125);
}

nav a:active,
nav a:hover {
    color: rgb(212, 35, 35);
}

/* Article Styles */
/* In this ssection the main thing was font change and i edited the font variant and the line spacing */
article#tour_summary h1 {
    font-size: 2.2em;
    letter-spacing: 0.2em;
}

article#tour_summary p {
    font-size: 1.1em;
}

article#tour_summary>p:first-of-type::first-line {
    font-variant: small-caps;
    font-size: 1.2em;
}

/* Aside Styles */
/* All i changed was the font sizes and the colors of the text. */
aside#tour_itinerary h1 {
    font-size: 1.2em;
}

aside#tour_itinerary h2 {
    font-size: 0.9em;
}

aside#tour_itinerary p {
    font-size: 0.8em;
}

aside#tour_itinerary h2:nth-last-of-type(even) {
    color: rgb(81, 95, 175);
}

aside#tour_itinerary p:nth-last-of-type(even) {
    color: rgb(81, 95, 175);
}

aside#tour_itinerary h2:nth-last-of-type(odd) {
    color: rgb(79, 91, 40);
}

aside#tour_itinerary p:nth-last-of-type(odd) {
    color: rgb(79, 91, 40);
}

/* Blockquote Styles */
/* I changed the background color the text color and added some padding */
blockquote {
    background-color: rgb(173, 189, 227);
    color: rgba(255, 255, 255, 0.65)
}

blockquote p {
    padding: 2.5px 10px;
}